AUTH_SECRET="k9Xm2L7p4Q8vN1wR6tY3bZ5aH0jD4fG2"
DATABASE_URL="postgresql://neondb_owner:npg_vPxI0OUKN5Cp@ep-cool-union-ad988ra8-pooler.c-2.us-east-1.aws.neon.tech/neondb?channel_binding=require&sslmode=require"
